*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

   body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0 auto;
    color: #fff;
   }

  .sec-head{
    background: #000;
    width: 450px;
    height: 230px;
    border-radius: 20px;
    box-shadow: 0 0 10px darkorange;
    padding: 40px;
  }

  .log-out{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .para-log{
    text-align: center;
    margin-bottom: 20px;

  }

  .para-button{
    margin-left: 38px;
    margin-bottom: 10px;
  }

  .log-button{
     width: 300px;
     height: 40px;
     border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  }

  .button-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }