*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RocknRoll One', sans-serif;
}

.nav-logo{
    width: 50px;
    margin-right: 100px;
}

.sec-head{
    background-color: black;
 padding: 5px;
 height: 70px;
}

.sec-head .div-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
 }

.order-nav .list-nav {
    float: left;
    width: 130px;
    color: orange;
    list-style: none;
}

.order-nav .list-nav .link-nav{
 color: rgb(196, 109, 4);
 text-decoration: none;
}


          /* HOME PAGE */
.home-one{
  width: 500px;
}
.home-two{
 width: 500px;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.home-sec{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: whitesmoke;
  margin-bottom: 30px;
}

.home-head-one{
  font-size: 40px;
  text-align: center;
  margin: 10px;
  color: rgb(27, 26, 26);
}
.home-head-two{
  font-size: 45px;
  text-align: center;
  margin-left: 10px;
  color: rgb(27, 26, 26);
  margin-bottom: 0px;
}

.span-one{
  color: rgb(196, 109, 4);
}
.home-para-one{
  text-align: center;
  font-size: 17px;
  color: #757579;
  margin-bottom: 5px;
}
.home-para-two{
  text-align: center;
  font-size: 17px;
  color: #757579;
  margin-bottom: 10px;
}

.para-div-one{
  display: flex;
  align-items: center;
  justify-content: center;
}

.para-buttooon{
  background-color: rgb(196, 109, 4);
  height: 35px; 
  width: 130px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.home-img{
  width: 100px;
}

.icon-div-one{
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-para-one{
  color: #757579;
}

#circle-img-div{
  white-space: nowrap;
  animation: scroll;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 100px;
}

#circle-img-div .circle-one{
  height: 100%;
}

.home-image-banner-one{
  display: none;
}
.circle-one{
  width: 80px;
  border-radius: 70px;
}

.home-image-banner{
  width: 100px;
}

@keyframes scroll {
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(-50%);
  }
}

.home-image-banner{
  width: 250px;
}

        /* CATEGORY PART */
      .cath-warp{
        height: 100vh;
      }

      .search-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .search{
        width: 300px;
        height: 30px;
        border: none;
      }

      .search{
        border-bottom: 2px solid orangered;
        outline: none;
      }

      .search:focus{
        border-bottom-color: lightgreen;
      }

      .search-wrap{
        position: relative;
      }

      .click-button{
        position: absolute;
        width: 80px;
        height: 30px;
        cursor: pointer;
        right: 93px;
        top: -8px;
        background-color: orangered;
        color: #fff;
        border: none;
        border-radius: 5px;
      }

      .selects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
        gap: 15px;
      }

      .button-value{
        height: 35px;
        width: 150px;
        font-size: 13px;
        border: 2px solid orangered;
        background: transparent;
        border-radius: 15px;
        cursor: pointer;
        color: orangered;
      }

      .active{
        background-color: orangered;
        color: #fff;
      }
      
        /* END OF CATEGORY PART */



            /* works part */
/* .image-one{
  width: 150px;
} */

.works{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  row-gap: 20px;
  column-gap: 20px;
}

.cath-warp{
  height: 100%;
}

   .content{
    width: 450px;
    height: 200px;
    box-shadow: 0 0 3px #000000ab;
    border-radius: 10px;
   }

   .image-contain{
  display: flex;
    justify-content: center; 
   }

          .one{
            width: 110px;
          }  

          .words{
            text-align: center;
            position: relative;
          }

          .head-one{
            font-size: 18px;
          }

          .para-one{
            font-size: 13px;
            margin: 5px;
          }

          .more{
            right: 0;
            top: 55px;
            position: absolute;
            background-color: orangered;
            width: 65px;
            height: 30px;
            border: none;
            border-radius: 7px;
            font-size: 12px;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
          }
            /* end OF works part */